body {
  font-family:"Montserrat";
}

/* CLASS SELECTORS */
.phone-pic {
  transform:rotate(25deg);
  width:60%;
}


/*ID Selectors*/



#title {
  background-color:#ff4c68;
  color:white;
}

#header1 {
  font-family: "Montserrat";
  font-weight:900;
  font-size:3.5rem;
  line-height:1.5;
}
/*Bootstrap Mods*/

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding:0 0 4.5rem 0;
}
.navbar-brand {
  font-family:"Ubuntu";
  font-size:2.5rem;
  font-weight:bold;
}

.nav-item {
  padding-left:18px;
  padding-right:18px;
}

.nav-link {
  font-family:"Montserrat";
  font-size:1.2rem;
  font-weight:light;
}
/*FEATURES*/

#features {
  padding:5% 15%;
}
.feature-box {
text-align:center;
padding:5%

}

.feature-title {
  font-family:"Montserrat";
  font-weight:bold;
  padding:5%;
}

.icon {
  color:#ef8172;
  margin-bottom:1rem;
}

.icon:hover {
  color:#ff4c68;
  transition-duration:0.7s;
}

.feature-description {
  color:#8f8f8f;
  font-size:.85rem;
}
/*DOWNLOAD BUTTONS*/

.download-button {
  margin: 5% 3% 5% 0;
}

/*Testimonials Section*/

#testimonials {
;
  text-align:center;
  background-color:#ef8172;
  color:#FFF

}

.carousel-item {
  padding:7% 15%;
}

h2 {
  font-family:"Montserrat";
  font-weight:bold;
  line-height:1.5;
  font-size:3rem;
}

.testimonial-image {
  border-radius:50%;
  width:6rem;
  margin:20px;
}

/*Press Section*/
#press {
  background-color:#ef8172;
  text-align:center;
  padding-bottom:3%;
}
 .press-icon {
  width: 15%;
  margin:20px 20px 50px 20px;
}

/*Pricing Section*/

#pricing {
  text-align:center;
}
.membership-titles {
  font-size:2rem;
}

.pricing-card-title:{
 font-weight:900;
}

.pricing-title{
  margin: 15px 15px 15px 15px;
}

.pricing-subtitle {
padding-bottom:30px;
}

/*Call to Action Section*/
#cta {
  text-align:center;
  background-color:#ef8172;
  padding-top:5%;
}
